<section class="section">
    <h3 class="secondary-section-heading">Besides programming following stuff makes me also happy</h3>

    <div class="row">
        <!-- <div class="col-sm-6">
            <a class="card-about-me-a" href="/ps" target="_blank">
                <div class="container-fluid card-about-me">
                    <h4 class="title">Playstation</h4>
                    <p class="desc">My passion to discover new worlds</p>
                    <p class="learn-more">Learn more →</p>
                    <img src="images/about-me/playstation.svg" alt="ps.log logo">
                </div>
            </a>
        </div> -->
        <!-- <div class="col-sm-6">
            <a class="card-about-me-a" href="/cooking" target="_blank">
                <div class="container-fluid card-about-me">
                    <h4 class="title">Cooking</h4>
                    <p class="desc">It's like travelling directly from my kitchen!</p>
                    <p class="learn-more">Learn more →</p>
                    <img src="images/about-me/cake.svg" alt="cake.log logo">
                </div>
            </a>
        </div> -->
        <div class="col-sm-6">
            <a class="card-about-me-a" href="/drawing" target="_blank">
                <div class="container-fluid card-about-me">
                    <h4 class="title">Drawing</h4>
                    <p class="desc">Boosting my creative side</p>
                    <p class="learn-more">Learn more →</p>
                    <img src="images/about-me/brush.svg" alt="brush.log logo">
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="card-about-me-a" href="/pets" target="_blank">
                <div class="container-fluid card-about-me">
                    <h4 class="title">Pets</h4>
                    <p class="desc">My best friends giving me an everyday dose of cuteness!</p>
                    <p class="learn-more">Learn more →</p>
                    <img src="images/about-me/Peeking-Cat.svg" alt="cat.log logo">
                </div>
            </a>
        </div>
    </div>
</section>