<section class="section">
    <h2 class="section-heading">Hi, I am Anna! 👋</h2>
    <h3 class="secondary-section-heading">What I know and love:</h3>
    <div class="row skills">
        <div class="col-md-6">
            <ul class="check-list">
                <li>HTML5</li>
                <li>SemanticUI</li>
                <li>CSS3 (Flexbox and Grid)</li>
                <li>Responsive Design</li>
                <li>Bootstrap and Bulma</li>
                <li>JavaScript ES6</li>
                <li>jQuery</li>
                <li>Asynchronous JavaScript - Promises, async/await, etc.</li>
                <li>AJAX</li>
                <li>DOM Manipulation</li>
                <li>Unix (Command Line) Commands</li>
                <li>NodeJS</li>
                <li>NPM</li>
                <li>ExpressJS</li>
                <li>EJS</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="check-list">
                <li>REST</li>
                <li>APIs</li>
                <li>SQL and NoSQL databases</li>
                <li>MongoDB</li>
                <li>Cloud Databases</li>
                <li>Schema Design</li>
                <li>Mongoose</li>
                <li>Authentication</li>
                <li>Cookies & Sessions</li>
                <li>Deploying Apps</li>
                <li>AWS</li>
                <li>React.js with React Hooks</li>
                <li>Git, GitHub and Version Control</li>
                <li>Graphic Web Design (mockup and wireframing via Photoshop and Figma)</li>
            </ul>
        </div>
    </div>
</section>