<!-- Title -->
<div class="row head-cat">
    <div class="col-lg-6 col-sm-12 ">
        <h1 class="big-heading">Meet your next </h1>
        <div class="cd-intro">
            <h1 class="cd-headline push">
                <span class="cd-words-wrapper big-heading">
                    <b class="is-visible">creative</b>
                    <b>skilled</b>
                    <b>passionate</b>
                </span>
            </h1>
        </div>
        <h1 class="big-heading">Web Developer</h1>
    </div>
    <div class="col-lg-6 col-sm-12">
        <%- include("cat") -%>
    </div>
</div>