<%- include("partials/head") -%>
    <%- include("partials/navbar") -%>
        <section class="section drawing">

            <div class="container-fluid">
                <h2 class="section-heading">Drawing</h2>
            </div>
            <div class="container-fluid  box-text">
                <h3>I am not professional artist, but it helps me to train my creativity and imagination.
                </h3>
            </div>
            <div id="youtube" class="container-fluid video-img box-img">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ej64xTAmK4k"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <!-- <img class="drawing milka" src="images/about-me/milka.jpeg" alt=""> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/J2ofH_Nw_kM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="335" height="596" src="https://www.youtube.com/embed/Rx_G3PshcGE"
                    title="Sunset. Drawing in Procreate" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8XLZ3cd65yg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5gVPyLR0bMk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="335" height="596" src="https://www.youtube.com/embed/G9HnZlqNyJM"
                    title="Bird. Drawing in Adobe Illustrator" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kFw0Daqd84Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/we4QHByXZ1o"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>



            </div>



        </section>
        <%- include("partials/footer") -%>