<%- include("partials/head") -%>
    <%- include("partials/navbar") -%>
        <section class="section pets">

            <div class="container-fluid">
                <h2 class="section-heading">My Adorables! ❤️</h2>
            </div>
            <div class="container-fluid  box-text">
                <h3>Can't imagine my life without them...
                </h3>
            </div>
            <div class="container-fluid box-img">
                <img class="" src="images/about-me/lovebirds_on_laptop.png" alt="lovebirds_on_laptop">
                <h4>"We are here to help you...maybe" (Ksyusha and Grisha, lovebirds)</h4>
            </div>
            <div class="container-fluid box-img">
                <img class="" src="images/about-me/musya.png" alt="musya_cat">
                <h4>"I am not very smart, but kind and funny" (Musya, cat)</h4>
            </div>
            <div class="container-fluid box-img">
                <img class="" src="images/about-me/Alysa.png" alt="alysa_cat">
                <h4>"I will be with you forever" (Alysa, cat)</h4>
            </div>
            <div class="container-fluid box-img">
                <img class="" src="images/about-me/together.png" alt="together">
                <h4>My crew and me</h4>
            </div>
            <!-- <div class="container-fluid box-img">
                <img class="" src="images/about-me/brave.png" alt="brave">
                <img class="" src="images/about-me/jungles.png" alt="jungles">
                <img class="" src="images/about-me/ksyusha.png" alt="ksyusha">

            </div> -->


        </section>
        <%- include("partials/footer") -%>