<%- include("partials/head") -%>
    <%- include("partials/navbar") -%>
        <section class="section">
            <h2 class="section-heading">Welcome to my projects!</h2>
            <div class="all-projects">
                <a class="card-project-a" href="https://peaceful-chamber-31262.herokuapp.com/" target="_blank">
                    <div class="card-project">
                        <div class="container-fluid card-project-desc">
                            <div class="title-desc">
                                <h4 class="title">To-Do App</h4>
                                <p class="desc">Developed "To-Do" web application which includes both front-end and back
                                    end.
                                    Deployed the application in the cloud on Heroku (PaaS service). The application
                                    interacts
                                    with MongoDB Atlas cloud Database (hosted on AWS).</p>
                            </div>
                            <div class="tech-desc">
                                <p class="tech">Tech stack:</p>
                                <p class="tech-logo">HTML CSS JS Express EJS MongoDB Heroku</p>
                            </div>
                            <div class="learn-desc">
                                <p class="learn-more">Learn more →</p>
                            </div>
                        </div>
                        <div class="card-project-img">
                            <img src="images/projects/to-do-app3.png" alt="to-do-app">
                        </div>
                    </div>
                </a>
                <a class="card-project-a" href="https://8sh3g.csb.app/" target="_blank">
                    <div class="card-project">
                        <div class="container-fluid card-project-desc">
                            <div class="title-desc">
                                <h4 class="title">Note Keeper App (React.js)</h4>
                                <p class="desc">Developed web application based on React.js representing a dashboard for
                                    keeping multiple notes.</p>
                            </div>
                            <div class="tech-desc">
                                <p class="tech">Tech stack:</p>
                                <p class="tech-logo">HTML CSS JS React React Hooks Babel</p>
                            </div>
                            <div class="learn-desc">
                                <p class="learn-more">Learn more →</p>
                            </div>
                        </div>
                        <div class="card-project-img">
                            <img src="images/projects/Note_react.png" alt="note-app-react">
                        </div>
                    </div>
                </a>
                <a class="card-project-a" href="https://49eiy.csb.app/" target="_blank">
                    <div class="card-project">
                        <div class="container-fluid card-project-desc">
                            <div class="title-desc">
                                <h4 class="title">To-Do App (React.js)</h4>
                                <p class="desc">Developed web application based on React.js for creating a to-do list.
                                    To-do items are interactively added to your list and removed with a click.</p>
                            </div>
                            <div class="tech-desc">
                                <p class="tech">Tech stack:</p>
                                <p class="tech-logo">HTML CSS JS React React Hooks Babel</p>
                            </div>
                            <div class="learn-desc">
                                <p class="learn-more">Learn more →</p>
                            </div>
                        </div>
                        <div class="card-project-img">
                            <img src="images/projects/To-do-react.png" alt="to-do-react-app">
                        </div>
                    </div>
                </a>
                <a class="card-project-a" href="https://annaivashkina.github.io/stock_quote/" target="_blank">
                    <div class="card-project">
                        <div class="container-fluid card-project-desc">
                            <div class="title-desc">
                                <h4 class="title">Stock Quote</h4>
                                <p class="desc">Application for viewing stock quotes by symbol</p>
                            </div>
                            <div class="tech-desc">
                                <p class="tech">Tech stack:</p>
                                <p class="tech-logo">HTML CSS JS Bootstrap REST API, Axios</p>
                            </div>
                            <div class="learn-desc">
                                <p class="learn-more">Learn more →</p>
                            </div>
                        </div>
                        <div class="card-project-img">
                            <img src="images/projects/quote.png" alt="stock-quote-app">
                        </div>
                    </div>
                </a>
                <a class="card-project-a" href="https://annaivashkina.github.io/ping_pong_score_keeper/"
                    target="_blank">
                    <div class="card-project">
                        <div class="container-fluid card-project-desc">
                            <div class="title-desc">
                                <h4 class="title">Ping Pong Score Keeper</h4>
                                <p class="desc">Web application for a game of 2. You can set how long playing to.</p>
                            </div>
                            <div class="tech-desc">
                                <p class="tech">Tech stack:</p>
                                <p class="tech-logo">HTML CSS JS Bootstrap</p>
                            </div>
                            <div class="learn-desc">
                                <p class="learn-more">Learn more →</p>
                            </div>
                        </div>
                        <div class="card-project-img">
                            <img src="images/projects/score-keeper.png" alt="to-do-react-app">
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <%- include("partials/footer") -%>