<%- include("partials/head") -%>
  <%- include("partials/navbar") -%>
    <section class="section ps">

      <div class="container-fluid">
        <h2 class="section-heading">My PlayStation</h2>
      </div>
      <div class="container-fluid  box-text">
        <h3>I like videogames. To be honest - PS Store is my favourite market place 🙂</h3>
      </div>
      <div class="container-fluid box-img">
        <img class="" src="images/about-me/ps.jpeg" alt="playing playstation on terrace">
      </div>


    </section>
    <%- include("partials/footer") -%>